<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}PhantomQ{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
</head>
<body>
  {% set points = (user_points if user_points is defined else 0) %}
  {% set rank = (user_rank if user_rank is defined else 'Script Kiddie') %}
  <canvas id="fx-bg"></canvas>
  <div id="fx-scan"></div>
  <div id="boot"><div class="line"></div></div>
  {% include "_nav.html" %}
  <main class="container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}<div class="flash">{{ messages[0] }}</div>{% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </main>
  <script src="{{ url_for('static', filename='js/crypto.js') }}"></script>
  {% block scripts %}{% endblock %}
  <script src="{{ url_for('static', filename='js/effects.js') }}"></script>
  <script src="{{ url_for('static', filename='js/nav.js') }}"></script>
  <script src="{{ url_for('static', filename='js/chatbot-kb.js') }}"></script>
  <script src="{{ url_for('static', filename='js/chatbot.js') }}"></script>
</body>
</html>
